<h1>New Reply</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.board_reply_path(@conn, :create, @board_key)) %>

<%# 
<span><%= link "Back", to: Routes.board_reply_path(@conn, :index) %></span> %> %>
