<h1>Show Reply</h1>

<ul>

  <li>
    <strong>Comment:</strong>
    <%= @reply.comment %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.board_reply_path(@conn, :edit, @reply) %></span>
<span><%= link "Back", to: Routes.board_reply_path(@conn, :index) %></span>
